
<header>
  <div id="owl-example" class="owl-carousel">
    <div class="owl-slide">
      <div class="owl--text">
      <h2>Check Out Our Top Main Courses</h2>
    </div>
    </div>
    <div class="owl-slide2">
      <div class="owl--text">
      <h2>Go Green With Our Best Salads!</h2>
    </div>
    </div>
    <div class="owl-slide3">
      <div class="owl--text">
      <h2>How About Some Pre Meal Apps?</h2>
      </div>
    </div>
    <div class="owl-slide4">
      <div class="owl--text">
      <h2>Satisfy Your Sweet Tooth!</h2>
      </div>
    </div>
  </div>
</header>

<br><br>
<!-- top recipes -->
<div class="row text-center">

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top Main Courses</h4>
        <% @main_course_sort[0...3].each do |recipe| %>
          <p class="card-text">
            <strong><a href="/recipes/<%=recipe.id %>"><%= recipe.name %></a></strong> | Rating: <%= recipe.ratings.average(:rating) %>
          </p>
        <% end %>
      </div>
      <div class="card-footer">
        <%=form_tag(recipes_path, method: "get") do%>
          <input type="hidden" name="search" value="Main Course">
          <button type="submit" class="btn-primary">Browse The Recipes!</button>
        <%end%>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top Salads</h4>
        <% @salad_sort[0...3].each do |recipe| %>
          <p class="card-text">
            <strong><a href="/recipes/<%=recipe.id %>"><%= recipe.name %></a></strong> | Rating: <%= recipe.ratings.average(:rating) %>
          </p>
        <% end %>
      </div>
      <div class="card-footer">
        <%=form_tag(recipes_path, method: "get") do%>
          <input type="hidden" name="search" value="Salad">
          <button type="submit" class="btn-primary">Browse The Recipes!</button>
        <%end%>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top Appetizers</h4>
        <% @apps_sort[0...3].each do |recipe| %>
          <p class="card-text">
            <strong><a href="/recipes/<%=recipe.id %>"><%= recipe.name %></a></strong> | Rating: <%= recipe.ratings.average(:rating) %>
          </p>
        <% end %>
      </div>
      <div class="card-footer">
        <%=form_tag(recipes_path, method: "get") do%>
          <input type="hidden" name="search" value="Appetizer">
          <button type="submit" class="btn-primary">Browse The Recipes!</button>
        <%end%>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top Desserts</h4>
        <% @dessert_sort[0...3].each do |recipe| %>
          <p class="card-text">
            <strong><a href="/recipes/<%=recipe.id %>"><%= recipe.name %></a></strong> | Rating: <%= recipe.ratings.average(:rating) %>
          </p>
          <% end %>
      </div>
      <div class="card-footer">
        <%=form_tag(recipes_path, method: "get") do%>
          <input type="hidden" name="search" value="Dessert">
          <button type="submit" class="btn-primary">Browse The Recipes!</button>
        <%end%>
      </div>
    </div>
  </div>
</div>

<footer class="container">
  <p>© 2017 Bradley Sloan, Najah Izquierdo, Thomas Rafferty </p>
</footer>

