
<header>
  <div id="owl-example" class="owl-carousel">
    <div class="owl-slide">
      <div class="owl--text">
      <h2>Check Out Our Top Main Courses</h2>
    </div>
    </div>
    <div class="owl-slide2">
      <div class="owl--text">
      <h2>Go Green With Our Best Salads!</h2>
    </div>
    </div>
    <div class="owl-slide3">
      <div class="owl--text">
      <h2>How About Some Pre Meal Apps?</h2>
      </div>
    </div>
    <div class="owl-slide4">
      <div class="owl--text">
      <h2>Satisfy Your Sweet Tooth!</h2>
      </div>
    </div>
  </div>
</header>

<br><br>
<!-- top recipes -->
<div class="row text-center">

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top Main Courses</h4>
        <p class="card-text">
          <ol>
            <% @main_course_sort[0...3].each do |recipe| %>
              <li><strong><a href="/recipes/<%=recipe.id %>"><%= recipe.name %></a></strong> | Rating: <%= recipe.ratings.average(:rating) %></li>
            <% end %>
          </ol>
        </p>
      </div>
      <div class="card-footer">
        <%=form_tag(recipes_path, method: "get") do%>
          <input type="hidden" name="search" value="Main Course">
          <input type="submit" value="Browse The Recipes!">
        <%end%>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top Salads</h4>
        <p class="card-text">
          <ol>
            <% @salad_sort[0...3].each do |recipe| %>
              <li><strong><a href="/recipes/<%=recipe.id %>"><%= recipe.name %></a></strong> | Rating: <%= recipe.ratings.average(:rating) %></li>
            <% end %>
          </ol>
        </p>
      </div>
      <div class="card-footer">
        <%=form_tag(recipes_path, method: "get") do%>
          <input type="hidden" name="search" value="Salad">
          <input type="submit" value="Browse The Recipes!">
        <%end%>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top Appetizers</h4>
        <p class="card-text">
          <ol>
            <% @apps_sort[0...3].each do |recipe| %>
              <li><strong><a href="/recipes/<%=recipe.id %>"><%= recipe.name %></a></strong> | Rating: <%= recipe.ratings.average(:rating) %></li>
            <% end %>
          </ol>
        </p>
      </div>
      <div class="card-footer">
        <%=form_tag(recipes_path, method: "get") do%>
          <input type="hidden" name="search" value="Appetizer">
          <input type="submit" value="Browse The Recipes!">
        <%end%>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Top Desserts</h4>
        <p class="card-text">
          <ol>
            <% @dessert_sort[0...3].each do |recipe| %>
              <li><strong><a href="/recipes/<%=recipe.id %>"><%= recipe.name %></a></strong> | Rating: <%= recipe.ratings.average(:rating) %></li>
            <% end %>
          </ol>
        </p>
      </div>
      <div class="card-footer">
        <%=form_tag(recipes_path, method: "get") do%>
          <input type="hidden" name="search" value="Dessert">
          <input type="submit" value="Browse The Recipes!">
        <%end%>
      </div>
    </div>
  </div>

</div>


