<h3>Create New Recipe!</h3>

<%= form_for @recipe do |form| %>
  <%if @recipe.errors.any? %>
    <div id="error_explantion">
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
                <p style="color: red;"><%= msg %></p>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :category %><br>
    <%= form.select :category, ["Dessert", "Appetizer", "Salad", "Main Course"], :prompt => 'Select One' %>
  </p>
  <p>
    <%= form.label :difficulty_level %><br>
    <%= form.text_field :difficulty_level %>
  </p>
  <p>
    <%= form.label :prep_time %><br>
    <%= form.text_field :prep_time %>
  </p>
  <p>
    <%= form.label :directions %><br>
    <%= form.text_area :directions %>
  </p>

  <% if @ingredients.any? %>
    <% @ingredients.each do |ingredient| %>
      <ol>
        <li>
          <span><%= ingredient.item %></span>
          <span><%= ingredient.amount %></span>
          <span><%= ingredient.measurement %></span>
        </li>
      </ol>
    <% end %>
  <% end %>
  <!--  Here we are going to want to be able to add a dynamic number of intregients hence it will be a form with n number of iterations, within this form-->
  <%= form_for @ingredient do |f| %>
    <p>
      <%= f.label :item %><br>
      <%= f.text_field :item %>
    </p>
    <p>
      <%= f.label :amount %><br>
      <%= f.text_field :amount %>
    </p>
    <p>
      <%= f.label :measurement %><br>
      <%= f.text_field :measurement %>
    </p>
    <p>
      <%= f.submit 'Include Ingredient' %>
    </p>
  <% end %>

  <p>
    <%= form.submit 'Create Recipe' %>
  </p>

<% end %>
