<h3 id="show-head">Create New Recipe!</h3>

<div class="new-form">
  <%= form_for @recipe do |form| %>
    <%if @recipe.errors.any? %>
      <div id="error_explantion">
        <ul>
          <% @recipe.errors.full_messages.each do |msg| %>
                  <div style="color: red;"><%= msg %></div>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :category %><br>
      <%= form.select :category, ["Dessert", "Appetizer", "Salad", "Main Course"], :prompt => 'Select One' %>
    </div>
    <div>
      <%= form.label :difficulty_level %><br>
      <%= form.select :difficulty_level, [1, 2, 3, 4, 5], :prompt => 'Select Level' %>
    </div>
    <div>
      <%= form.label :prep_time, "Preperation Time (Minutes)" %><br>
      <%= form.text_field :prep_time %>
    </div>
    <div>
      <%= form.label :directions %><br>
      <%= form.text_area :directions %>
    </div>

    Ingredients:
    <ul class="add-ingredient-container">
      <%= form.fields_for :ingredients do |ingredients_form| %>
        <li class="ingredient-form">
          <%= ingredients_form.label :item %>
          <%= ingredients_form.text_field :item, placeholder: "Ingredient Name"  %>
          <%= ingredients_form.label :amount %>
          <%= ingredients_form.text_field :amount, placeholder: 0  %>
          <%= ingredients_form.label :measurement %>
          <%= ingredients_form.text_field :measurement, placeholder: "Unit" %>
          <span class="hide-ingredient">X</span>
        </li>
        <% end %>
    <button class="show-ingredient">Add Ingredient</button>
    </ul>

    <%= form.submit 'Create Recipe' %>
  <% end %>
</div>
