<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Recipe</a></li>
    <li><a data-toggle="tab" href="#menu1">Directions</a></li>
    <li><a data-toggle="tab" href="#menu2">Details/Ratings</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3><a href="/recipes/<%=@recipe.id%>"><%= @recipe.name %></a></h3>
      <p>Ingredients:</p>
      <ul>
        <% @recipe.ingredients.each do |i| %>
          <li><%= i.amount%> <%= i.measurement %>
            <%if i.amount != 1%>
              's
            <%end%>
            of <%= i.item %></li>
        <% end %>
        <% if current_user && own_recipe?(@recipe) %>
          <a href="/ingredients/<%=i.id%>/edit">Edit Ingredient</a>
        <% end %>
      </ul>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Directions</h3>
      <p><%= @recipe.directions %></p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Details/Ratings</h3>
      <p>Prep Time: <%= @recipe.prep_time %> mins</p>
      <p>Difficulty: <%= @recipe.difficulty_level %>/5</p>
      <p>Rating: <%= @recipe.ratings.average(:rating) %>/5</p>
    </div>
  </div>
</div>

<% if current_user && own_recipe?(@recipe) %>
    <a href="/recipes/<%=@recipe.id%>/edit" class="waves-effect waves-light btn-large deep-purple lighten-2"> Edit </a>
  <%= form_for("/recipes/#{@recipe.id}", :method => :delete) do |f|%>
    <a class="waves-effect waves-light btn-large deep-purple lighten-2">
    <%= f.submit :value => "Delete" %> </a>
  <%end%>
<%end%>

<% if current_user != @recipe.user %>
  <%= form_tag('/ratings', method: 'post') do %>
    <input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Rate">
  <%end%>
<%end%>

<% if @current_user_rating %>
  <h4> Current Rating: <%= @current_user_rating.rating %> </h4>
<%end%>

<% @recipe.ratings.each do |rating| %>
  <%= rating.rating %> | <%= rating.user.username %> <p>
  <% if current_user == rating.user %>
    <%= render partial: '/ratings/edit', locals: { rating: rating } %>
  <%end%>
<%end%>
