<% if current_user && own_recipe?(@recipe) %>
  <div class="editbutton">
    <a href="/recipes/<%=@recipe.id%>/edit" class="btn btn-primary btn-md my_butt"> Edit Recipe </a>
    <%= form_for("/recipes/#{@recipe.id}", :html => {:class => "my_butt"}, :method => :delete) do |f|%>
      <%= f.submit class: "btn btn-primary btn-md my_butt", :value => "Delete" %> </a>
    <%end%>
  </div>
<%end%>

<div class="rating-button">

    <%= form_tag('/ratings', method: 'post') do %>
      <input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
      <select class="form-control" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" class="btn btn-primary btn-xs" value="Rate">
  <% if @current_user_rating == current_user.ratings %>
  <h4> Your Current Rating: <%= @current_user_rating.rating %> </h4>
    <%= render partial: '/ratings/edit', locals: { recipe: @recipe, ratings:@current_user_rating.rating} %>
    <% end %>
  <%end%>
</div>

<div id="recipeshow" class="container">
  <h3><a href="/recipes/<%=@recipe.id%>"><%= @recipe.name %></a></h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#<%= @recipe.id %>home">Ingredients</a></li>
    <li><a data-toggle="tab" href="#<%= @recipe.id %>menu1">Directions</a></li>
    <li><a data-toggle="tab" href="#<%= @recipe.id %>menu2">Details</a></li>
    <li><a data-toggle="tab" href="#<%= @recipe.id %>menu3">Ratings</a></li>
  </ul>

  <div class="tab-content">
    <div id="<%= @recipe.id %>home" class="tab-pane fade in active">
        <h3> Ingredients </h3>
        <ul>
        <% @recipe.ingredients.each do |i| %>
          <li><%= i.amount%> <%= i.measurement %>
            <%if i.amount != 1%>
              's
            <% end %>
            of <%= i.item %></li>
            <% if current_user && own_recipe?(@recipe) %>
              <a href="/ingredients/<%=i.id%>/edit">Edit Ingredient</a>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div id="<%= @recipe.id %>menu1" class="tab-pane fade">
      <h3>Directions</h3>
      <p><%= @recipe.directions %></p>
    </div>
    <div id="<%= @recipe.id %>menu2" class="tab-pane fade">

      <h3>Details</h3>
      <p>Prep Time: <%= @recipe.prep_time %> mins</p>
      <p>Difficulty: <%= @recipe.difficulty_level %>/5</p>
      <p>Rating: <%= @recipe.ratings.average(:rating) %>/5</p>
    </div>
    <div id="<%= @recipe.id %>menu3" class="tab-pane fade">
      <%= render partial: '/ratings/show', locals: {recipe: @recipe}%>
    </div>
  </div>
</div>

</div>
