<%= form.fields_for :ingredients do |ingredients_form| %>
  <li>
    <%= ingredients_form.label :item %>
    <%= ingredients_form.text_field :item, placeholder: "Ingredient Name"  %>

    <%= ingredients_form.label :amount %>
    <%= ingredients_form.text_field :amount, placeholder: 0  %>

    <%= ingredients_form.label :measurement %>
    <%= ingredients_form.text_field :measurement, placeholder: "Unit" %>

  </li>
