
<p> <% @recipe.ingredients.each do |ingredient| %>
- <%= ingredient.amount%> <%= ingredient.measurement %><%if ingredient.amount != 1%>'s
<%end%> of <%= ingredient.item %>
<%= form_for :ingredient, :url => { :action => "update" } do |form| %>
   <li>
     <%= form.label :item %>
     <%= form.text_field :item, value: ingredient.item  %>
     <%= form.label :amount %>
     <%= form.text_field :amount, value: ingredient.amount  %>
     <%= form.label :measurement %>
     <%= form.text_field :measurement, value: ingredient.measurement %>
   </li>
   <%= form.submit "Update"%>
   <%= form_for("/ingredients/#{ingredient.id}", :method => :delete) do |f|%>
         <%= f.submit "Delete" %>
   <%end%>
  <%end%>
<%end%>
