
  <h3>Ratings</h3>
    <% recipe.ratings.each do |rating| %>
        <% if rating.rating == 1 %>
        <p><%= image_tag("1-star.png", size:"16") %>
          <%= rating.user.username %>
        <%end %>
    <%end%> </p>

    <% recipe.ratings.each do |rating| %>
      <% if rating.rating == 2 %>
      <p><% 2.times do %>
        <%= image_tag("1-star.png", size:"16") %>
        <%end%>
          <%= rating.user.username %>
      <%end %>
    <%end%> </p>

    <%recipe.ratings.each do |rating| %>
      <%if rating.rating == 3 %>
      <p><% 3.times do %>
        <%= image_tag("1-star.png", size:"16") %>
        <%end%>
        <%= rating.user.username %>
      <%end %>
    <%end%></p>

  <% recipe.ratings.each do |rating| %>
    <%if rating.rating == 4 %>
    <p><% 4.times do %>
      <%= image_tag("1-star.png", size:"16") %>
      <%end%>
      <%= rating.user.username %>
    <%end%>
  <%end%> </p>

  <% recipe.ratings.each do |rating| %>
      <%if rating.rating == 5 %>
      <p><% 5.times do %>
        <%= image_tag("1-star.png", size:"16") %>
        <%end%>
        <%= rating.user.username %>
      <%end%>
    <%end%></p>
