
  <h3>Ratings</h3>
    <p>Average Rating: <%= recipe.ratings.average(:rating).round(2) %>/5</p>
        <p><%= recipe.ratings.where(rating: 1).count %> people gave this
          <%= image_tag("1-star.png", size:"16") %></p>
        <p><%= recipe.ratings.where(rating: 2).count %> people gave this
        <% 2.times do %><%= image_tag("1-star.png", size:"16") %><%end%></p>
        <p><%= recipe.ratings.where(rating: 3).count %> people gave this
        <% 3.times do %><%= image_tag("1-star.png", size:"16") %><%end%></p>
        <p><%= recipe.ratings.where(rating: 4).count %> people gave this
        <% 4.times do %><%= image_tag("1-star.png", size:"16") %><%end%></p>
        <p><%= recipe.ratings.where(rating: 5).count %> people gave this
        <% 5.times do %><%= image_tag("1-star.png", size:"16") %><%end%></p>
